<div>
<%= f.select :location_platform, options_for_select([['Monniepoint', 'monniepoint'], ['FirstMonie', 'firstmonie'], ['Opay', 'opay'], ['Paga', 'paga'], ['Momo', 'momo'], ['Paycentre', 'paycenter'], ['Other', 'other']], required: true) %>
<%= f.text_field :location_est, class: 'form-control', :placeholder => "Year of establishment", required: true %>
<%= f.text_field :location_geotag, class: 'form-control', :placeholder => "Geotag", required: true %>
</div>